@import url('https://fonts.googleapis.com/css?family=PT+Sans|Work+Sans:200');
$font_0: 'Work Sans', sans-serif;
$font_2: 'PT Sans', sans-serif;

$p-font-sizes: (
  null  : 15px,
  480px : 16px,
  640px : 2.5rem,
  1024px: 19px
);

$h1-font-sizes: (
  null  : 28px,
  480px : 31px,
  640px : 5rem,
  1024px: 36px
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

p, ul, span, input, button {
  @include font-size($p-font-sizes);
  -webkit-font-smoothing: antialiased;
}



//colors
$primary: #6109CA;
$secondary: #3FA9F3;
$accent: #26006A;
$white: #FEFEFF;
$orange: #FE6D01;
$subtext: #7C7A7A;
$subtext-light: #717171;

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

//urls
$url_0: url(../static/bg.svg);

html {
  height: 100%;
  width: 100%;
}

body {
  min-height:100%;
	background-image: linear-gradient($primary, $secondary);
	background-repeat: no-repeat;
  background-attachment: fixed;
}
h1, h2, h3 {
	font-family: $font_0;
	@include font-size($h1-font-sizes);
	margin: 20px 0;
}

#row {
	flex-grow: 1;
	width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;
	background: $secondary;
	height: 183px;
	flex-basis: 100%;
	padding-top: 10px;
	margin-top: 25px;
	background-image: $url_0;
	background-repeat: no-repeat;
	h1 {
		margin-bottom: 0;
		position: relative;
	}
	p {
		margin: 1%;
		text-align: center;
		width: 100%;
	}
}
li {
	display: flex;
	font-family: $font_2;
}

.load {
	font-family: $font_2;
}
.player {
	font-family: $font_2;
}
ul {
	padding: 0;
	list-style-type: none;
	width: 100%;
}
.theteamresult {
	margin: -15 0 0 0;
}
.theplayer {
	width: 83%;
	border-radius: 4;
	height: 50px;
	padding: 5px;
	display: inline-block;
	color: $subtext;
	border: 1px solid $subtext;
	padding: 0 0 0 25px;
	&:focus {
		outline: none !important;
		border: 1px solid $secondary;
	}
}


.forcefont {
	font-family: $font_2;
}

p {
	font-family: $font_2;
}

.editable {
	background: $white;
	font-style: italic;
	padding: 5px;
	color: $subtext;
  margin-right: 5%;
	padding: 0 38px 0 15px;
	&:focus {
		outline: none !important;
		border: 1px solid $secondary;
	}
}
#captain {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 4px 0 -4px 0px;
}

#pre p {
	font-family: $font_2;
}

.thecaptain {
  text-align: center;
	font-family: $font_2;
	// margin-bottom: 40px;
  // color: $primary;
  // margin: 18px;
  width: 100%;

}
#editName {
	order: 1;
	flex-grow: 3;

	span {
		font-family: $font_2;
	}
	li {
		span {
			font-family: $font_2;
		}

	}
}

#edit {
	order: 2;
}

#goAway {
	order: 3;
}

#load li {
	background: lighten($subtext, 40%);
	padding: 2%;
	animation: fadein 0.5s;
	.color-icon {
		color: $white;
		padding-top: 3px;
		&:hover {
			transition:  all 100ms;
			color: darken($subtext, 20%);
			cursor: pointer;
		}
	}
	&:nth-child(even) {
		background: $white;
		animation: fadein 0.5s;
		.color-icon {
			color: lighten($subtext, 40%);
			padding-top: 3px;
			&:hover {
				transition:  all 100ms;
				color: darken($subtext, 20%);
				cursor: pointer;
			}
		}
	}
}

#teammateys {
	text-align: center;
	margin: 30px;
	li {
		margin-bottom: 7px;
	}
}
.ball {
	display: block;
	width: 55px;
	height: 55px;
	background-color: $orange;

	border-radius: 100%;
	animation: bounce 2s 1;
	animation-delay: 1s;
	overflow: hidden;
}
.ball::before {
	content: '';
	display: block;

	border-radius: 50%;
	border: 2px solid $accent;
	opacity: .3;
	position: relative;
	width: 55px;
	height: 55px;
	right: -27px;
	top: -22px;
}
.ball::after {
	content: '';
	display: block;

	border-radius: 50%;
	border: 2px solid $accent;
	opacity: .3;
	position: relative;
	width: 55px;
	height: 55px;
	right: 27px;
	top: -42px;
}
.captain-subtext {
	color: $subtext;
  margin: 0 0 -30px;
	width: 100%;
	text-align: center;
}
.congrats p{
	color: $subtext;
	font-family: $font_2;
	margin: 10px 0 45px 0;
	width: 85%;
	text-align: center;
}
.enterteam {
	background-color: $secondary;
	transition:  all 100ms;
	border: none;
	color: $white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 10%;
	padding-top: 4px;
	height: 52px;
	cursor: pointer;
	border-radius: 4px;
	&:hover {
		transition:  all 100ms;
		background: $orange;
	}
}
.err {
  color: white;
	font-family: $font_2;
  margin-left: 30px;
  background: red;
  padding: 5px 12px;
  opacity: 0;
	position: absolute;
  border-radius: 4px;
  transition: opacity 100ms ease-in-out;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    margin-left: 45px;
    background: red;
    transform: rotate(45deg);
  }
}
.headitem1 {
  margin: 0 0 0 0;
}

.hide {
	display: none;
}

.loader {
	top: 45%;
	margin-top: 35px;
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid $white;
	animation: loader 2s infinite ease;
}
.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $accent;
	background-color: $accent;
	overflow-x: hidden;
	transition: 0.5s;
	h1 {
		display: inline-block;
		color: $white;
		position: absolute;
		top: 30%;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		margin-top: 15%;
		padding: 8px;
		color: $subtext;
		display: block;
	}
}
.loader-inner {
	vertical-align: top;
	display: inline-block;
	position: absolute;
	width: 100%;
	background-color: $white;
	animation: loader-inner 2s infinite ease-in;
}
.maketeam {
	display: flex;
}

.overlay-content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.pre p {
  margin: 0 0 20px 0;
}

.redTextClass {
}
.see {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
}
.submit {
	border: 0 solid $subtext;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: $secondary;
	height: 50px;
	color: $white;
	border-radius: 4px;
	// font-size: 15px;
	width: 250px;
	animation: fadein 0.5s;
	&:hover {
		transition:  all 100ms;
		background: $orange;
	}
}

.teamInfo {
  margin-top: 20px;
}
.teamline {
	width: 25%;
  margin: 34px 0 -5px 0px;
}

.teamlineTop {
	width: 50%;
	margin: -6px 0 9px 0px;
}
container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
entry {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	background: $white;
	flex-basis: 100%;
	padding: 1% 5% 5%;
	p {
		color: $subtext;
	}
}

.title {
  margin: 7px 0 -7px 0;
}

.warningBorder {
  width: 83%;
  border: 1px solid red;
  height: 50px;
  padding: 5px;
  display: inline-block;
  color: $subtext;

  padding: 0 0 0 25px;
}

footer {
	background: $white;
	width: 100%;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: right;
	padding: 2%;
	color: $subtext;
}
result {
	display: none;
	background: $white;
	flex-basis: 100%;
	padding: 1% 5% 5%;
	min-height: 300px;
}

@media(max-width:1000px) {
	container {
		width: 100%;
	}
	.theplayer {
		width: 72%;
	}
	body {

	}
	h1 {

		text-align: center;
	}

}
.pushRight {
	margin-right: 15px;
}
.none {
	display: none;
}
.imgshrink {
	width: 20px;
	position: relative;
	top: 3px;
	padding-right: 3px;
}

//mobile screens
@media screen and(max-width: 999px) and(min-width: 220px) {

	header {
		height: 303px;
		padding: 0 0 83px 0;
		background-size: 100% 100%;
		// background: $secondary;
		h1 {
			margin-top: 15%;
		}
	}
  .pre p {
    margin: 0 0 10px 0;
  }

	p, .player span, .teammateys span, .pre, .submit, .fa  {

	}

	footer {
		margin-top: -1px;
	}
	.theplayer {
		padding: 3rem;

	}

	.theteamresult {
		color: $subtext;
		font-family: $font_2;
	}

	.err {
    color: white;
    font-family: "PT Sans", sans-serif;
    background: red;
    padding: 3px 18px;
    text-align: center;
    opacity: 0;
    left: 55px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    transition: opacity 100ms ease-in-out;
	}

  .headitem1 {
    margin: 0 0 0 0;
  }

	.title {
    margin: 20px 0 -15px;
	}

	.warningBorder {
    width: 83%;
    border: 1px solid red;
    height: 146px;
    padding: 5px;
    display: inline-block;
    color: #7C7A7A;

	}

	.enterteam {

		width: 15%;
	  position: absolute;
	  margin: -1px 5px 0 8px;
	  height: 150px;
	  cursor: pointer;
	  border-radius: 4px;
	}
	.imgshrink {
		width: 6%;
		position: relative;
		top: 9px;
		padding-right: 3px;
	}
	.submit {

		width: inherit;
		height: 10%;
		padding: 20px 45px;
	}

	.ball {
    display: block;
    width: 55px;
    height: 55px;
    // position: absolute;
    top: 250px;
    background-color: #FE6D01;
    border-radius: 100%;
    animation: bounce 2s 1;
    animation-delay: 1s;
    overflow: hidden;
}

	.player {
		padding: 40px 25px;
	}

	p {
		font-family: $font_2;
	}




	#load li {
		background: lighten($subtext, 40%);
		padding: 40px 25px;
		animation: fadein 0.5s;
		.color-icon {
			color: $white;

			padding-top: 3px;
			&:hover {
				transition:  all 100ms;
				color: darken($subtext, 20%);
				cursor: pointer;
			}
		}
		&:nth-child(even) {
			background: $white;
			animation: fadein 0.5s;
			.color-icon {
				color: lighten($subtext, 40%);

				padding-top: 3px;
				&:hover {
					transition:  all 100ms;
					color: darken($subtext, 20%);
					cursor: pointer;
				}
			}

		}
	}
}

@keyframes bounce {
	0% {
    @include translate (0, 0);
	}
	20% {
    @include translate (0, 0);
	}
	50% {
    @include translate (0, 0);
	}
	80% {
    @include translate (0, 0);
	}
	100% {
    @include translate (0, 0);
	}
	40% {
    @include translate (0, -30px);
	}
	60% {
    @include translate (0, 15px);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes loader {
	0% {
		@include rotate (0);
	}
	25% {
		@include rotate(180);
	}
	50% {
		@include rotate(180);
	}
	75% {
		@include rotate(360);
	}
	100% {
		@include rotate(360);
	}
}
@keyframes loader-inner {
	0% {
		height: 0;
	}
	25% {
		height: 0;
	}
	50% {
		height: 100%;
	}
	75% {
		height: 100%;
	}
	100% {
		height: 0;
	}
}
