body {
    background: #ffa84c;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffa84c 0%, #ff7b0d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffa84c 0%, #ff7b0d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffa84c 0%, #ff7b0d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p, li, .load, .player {
  font-family: 'Slabo 27px', serif;
}

li {
  font-size: 1.5em;
}

li:first-letter {
  text-transform: uppercase;
}

.theteamresult {
  margin-top: -15px;
}

.thecaptain:first-letter {
    text-transform: uppercase;
}

.thecocaptain:first-letter {
    text-transform: uppercase;
}

#teammateys {
  text-align: center;
}

#load li {
 background: #78DE92;
 padding: 2%;
/*li:nth-child(odd) { background: red; }*/
-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

#load li:nth-child(even) {
 background: MintCream;
/*li:nth-child(odd) { background: red; }*/
-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

ul {
  padding: 0;
  list-style-type: none;
}

.teamline {
  width: 25%;
}

.theplayer {
  width: 89%;
  border-radius: 4;
  height: 50px;
  padding: 5px;
  display: inline-block;
  color: #878787;
  font-size: 16px;
  border: 1px solid #878787;
  border-radius: 4px;
  padding: 0 0 0 25px;

}

footer {
  background: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: right;
  padding: 2%;
  color: #878787;
}

.submit {
  border: 0 solid #878787;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #ffa84c;
  height: 50px;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  width: 250px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}

.maketeam {
  display: flex;
}

.enterteam {
  background-color: #78DE92;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10%;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.hide {
    display: none;
}

container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    width: 50%;
    /*height: 40%;*/
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #78DE92;
    height: 191px;
    flex-basis: 100%;
    padding-top: 10px;
    margin-top: 25px;
}

header h1 {
    margin-top: 15%;
    margin-bottom: 0;
    position: relative;

}

header p {
    margin: 1%;
    text-align: center;
    width: 100%;
}

entry {
    background: white;
    flex-basis: 100%;
    /*height: 400px;*/
    padding: 1% 5% 5% 5%;
      min-height: 300px;
}


result {
  display: none;
  background: white;
  flex-basis: 100%;
  padding: 1% 5% 5% 5%;
  min-height: 300px;

}

.see {
  display: block;
}

.ball {
    display: block;
    width: 55px;
    height: 55px;
    background-color: orange;
    border-radius: 100%;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

entry p {
  color: #878787;
}

.congrats {
  color: #878787;
}



@media all and (max-width:1000px) {
  container {
      width: 100%;
  }

  .theplayer {
    width: 75%;
  }

  body { font-size: 1.5em; }

  h1 { font-size: 1em;
       text-align: center;
   }

  header {
    background: #78DE92;
  }
}

.pushRight {
  float: right;
}

.none {
  display: none;
}

.imgshrink {
  width: 20px;
  position: relative;
  top: 3px;
  padding-right: 3px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
