body {
    background: #ffa84c;
    /* Old browsers */
    background: -moz-linear-gradient(90deg, #ffa84c 0%, #ff7b0d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(90deg, #ffa84c 0%, #ff7b0d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(90deg, #ffa84c 0%, #ff7b0d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #78DE92;
  height: 183px;
  flex-basis: 100%;
  padding-top: 10px;
  margin-top: 25px;
  background-image: url(static/bg.svg);
  background-repeat:no-repeat;
}

header h1 {
  margin-bottom: 0;
  position: relative;

}

header p {
  margin: 1%;
  text-align: center;
  width: 100%;
}

li {
  font-size: 1.5em;
}

li:first-letter {
  text-transform: uppercase;
}

p, li, .load, .player {
  font-family: 'Slabo 27px', serif;
}

ul {
  padding: 0;
  list-style-type: none;
}
.theteamresult {
  margin-top: -15px;
}

.theplayer:focus {
    outline: none !important;
    border:1px solid #78DE92;
}

.editable:focus {
  outline: none !important;
  border:1px solid #78DE92;
}

#load li .color-icon{
color: MintCream;
  font-size: 20px;
  padding-top: 3px;
}

#load li:nth-child(even) .color-icon{
color: #78DE92;
  font-size: 20px;
  padding-top: 3px;
}

#load li .color-icon:hover{
  color: black;
  cursor: pointer;
}

#load li {
 background: #78DE92;
 padding: 2%;
-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

#load li:nth-child(even) {
 background: MintCream;
-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

#teammateys {
  text-align: center;
  font-size: 0.74em;
  margin-bottom: 1em;
}

#teammateys li {
  margin-bottom: 7px;
}

.ball {
    display: block;
    width: 55px;
    height: 55px;
    background-color: orange;
    border-radius: 100%;
    -moz-animation: bounce 2s 1;
    -webkit-animation: bounce 2s 1;
    animation: bounce 2s 1;
    animation-delay: 1s;
    overflow: hidden;
}

.ball::before {
  content:'';
  display: block;
  border-radius: 50%;
  border: 2px solid #bf6607;
  opacity: .3;
  position: relative;
  width: 55px;
  height: 55px;
  right: -27px;
  top: -22px;
}

.ball::after {
  content:'';
  display: block;
  border-radius: 50%;
  border: 2px solid #bf6607;
  opacity: .3;
  position:relative;
  width: 55px;
  height: 55px;
  right: 27px;
  top: -42px;
}

.captain-subtext {
  color: grey;
  margin-top: 0;
}

.congrats {
  color: #878787;
}

.editable {
  background: white;
  font-style: italic;
  padding: 5px;
  color: #878787;
  padding: 0 38px 0 15px;
}

.enterteam {
  background-color: #78DE92;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10%;
  padding-top: 4px;
  height: 52px;
  cursor: pointer;
  border-radius: 4px;
}

.hide {
    display: none;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.overlay h1 {
  display: inline-block;
      color: #fff;
      position: absolute;
      top: 30%;
      margin-left: auto;
      margin-right: auto;
  }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.maketeam {
  display: flex;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay p {
    margin-top: 15%;
    padding: 8px;
    font-size: 36px;
    color: #818181;
    display: block;

}


.rainbow {
  animation:rainbow 1s infinite;
}

.see {
  display: block;
}

.submit {
  border: 0 solid #878787;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #ffa84c;
  height: 50px;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  width: 250px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.teamline {
  width: 25%;
}

.theplayer {
  width: 80%;
  border-radius: 4;
  height: 50px;
  padding: 5px;
  display: inline-block;
  color: #878787;
  font-size: 16px;
  border: 1px solid #878787;
  border-radius: 4px;
  padding: 0 0 0 25px;

}

container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    width: 500px;
    /*height: 40%;*/
    margin-left: auto;
    margin-right: auto;
}


entry {
    background: white;
    flex-basis: 100%;
    /*height: 400px;*/
    padding: 1% 5% 5% 5%;
      min-height: 300px;
}

entry p {
  color: #878787;
}

footer {
  background: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: right;
  padding: 2%;
  color: #878787;
}

result {
  display: none;
  background: white;
  flex-basis: 100%;
  padding: 1% 5% 5% 5%;
  min-height: 300px;

}


/*Large Screens*/
@media (max-width:1000px) {
  container {
      width: 100%;
  }

  .theplayer {
    width: 71%;
  }

  body { font-size: 1.5em; }

  h1 { font-size: 1em;
       text-align: center;
   }

  header {
    background: #78DE92;
  }
}

.pushRight {
  float: right;
  margin-right: 15px;
}

.none {
  display: none;
}

.imgshrink {
  width: 20px;
  position: relative;
  top: 3px;
  padding-right: 3px;
}

/*Small Screens and Responsive*/
@media screen and (max-width: 999px) and (min-width: 220px) {
  body { font-size: 2em;}

  h1 { font-size: 2em;
    text-align: center;
  }

  header {
    height: 303px;
    padding: 0 0 83px 0;
    background-image: url(static/bg.svg);
    background-size: 100% 100%;
  }

  header h1 {
      margin-top: 26%;

  }


  footer {
    margin-top: -1px;
  }

  .theplayer {
    padding: 1.05em;
    font-size: 1.5em;
  }

  .enterteam {
    font-size: 1.5em;
    width: 15%;
    height: 151px;
    cursor: pointer;
    border-radius: 4px;
  }

  .imgshrink {
    width: 6%;
    position: relative;
    top: 9px;
    padding-right: 3px;
  }

  .submit {
    font-size: 1.5em;
    width: inherit;
    height: 10%;
    padding: 20px 45px;
  }

  #load li .color-icon {
    font-size: 40px;
    padding-top: 9px;
  }
}

@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

@-moz-keyframes bounce {
  to {
  stroke-dashoffset: 1000;
  }
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes loader {
 0% {
   transform: rotate(0deg);
 }

 25% {
   transform: rotate(180deg);
 }

 50% {
   transform: rotate(180deg);
 }

 75% {
   transform: rotate(360deg);
 }

 100% {
   transform: rotate(360deg);
 }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
